.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;

}
.hero-img{
    margin-top: 150px;
    mix-blend-mode:darken;
   
}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 90px;
    font-weight: 600;
}
.hero h1 span{
    /* background:  linear-gradient(135deg, #071952 10%, #088395 100%); */
    /* #d0b8ac, #f3d8c7, #efe5dc */
    color: #6fffe9;

/* background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */
}
.hero p{
    font-family: 'Times New Roman', Times, serif;
    width: 90%;
    text-align: justify;
    font-size: 24px;
    line-height: 40px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}
img{
    height: 300px;
    border-radius: 200px;
    /* mix-blend-mode: multiply; */
}
.logo-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    margin-top: 75px;
}
.hero-connect{
    padding: 25px 45px;
    border-radius: 50px ;
    background:  linear-gradient(135deg, #071952 10%, #088395 100%);
    color: #fff8f0;
    cursor: pointer;
}
.hero-resume{
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #000000;
    cursor: pointer;
}
.hero-connect:hover{
    border: 2px solid white;
}
.hero-resume:hover{
    background:  linear-gradient(135deg, #071952 10%, #088395 100%);
    color: #fff8f0;
}