.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}
.nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}
.nav-connect
{
    padding: 20px 40px;
    border-radius: 30px;
    /* background: linear-gradient(267deg, yellow 0.37%, pink 102.06%); */
    background-image: linear-gradient(135deg, #071952 10%, #088395 100%);
    font-size: 22px;
    cursor: pointer; 
    transition: 0.5s ;
    color: azure;
}
.nav-connect:hover{
    transform: scale(1.05)    ;                                                                                                                                                                                                                    
}                                                                                                                                                                                                                  